body {
    background-image: url(BMX4th.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    /*this darkens the image so the text is readable*/
    background-blend-mode: overlay;
  }

/*for nav bar*/
.nav-masthead .nav-link {
    padding: 5px;
    font-weight: 700;
    color: rgba(247, 75, 75, 0.829);
    background-color: transparent;
    border-bottom: 1rem solid transparent;
  }
  
/*For fixed logo I made*/
#logo{ 
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
} 
/*Footer style*/
#footer { 
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    /* Height of the footer*/  
    height: 38px;
    background-color: rgb(0, 0, 0);
} 

/*This is for the form styling*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(253, 109, 109);
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /*styling for the submit button :)*/
  input[type=submit] {
    background-color: #e95454;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Little change of color when hovering over the submit button */
  input[type=submit]:hover {
    background-color: rgb(255, 0, 0);
  }
  
  /*Background color for the contact form*/
  .container {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.322);
    padding: 20px;
  }